
<h1>Détails de votre réservation</h1>

<h2>.</h2>

<br>
<br>
<div class="container booking">
  <div class="container">
    <h1> Séjour au <%= @booking.castle.name %> </h1>
  </div>
  <div class="container">
    <p>Du <%= @booking.start_date %></p>
    <p>Au <%= @booking.end_date %></p>
    <p>Accès : <%= @booking.castle.address %></p>
    <%= link_to "Continuer", castle_bookings_path(@castle), class: 'backlink' %>
  </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> master
