<br>
<br>


<div class="container castle">
  <div class="card-trip">
    <% if @castle.photo.attached? %>
      <%= cl_image_tag(@castle.photo.key) %>
    <% else %>
      <%= image_tag('Cinderella_Castle1.jpg') %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @castle.name %></h2>
        <p><%= @castle.description %></p>
      </div>
      <div class="price">
      <h2 class="card-trip-pricing"><%= @castle.price %> €</h2>
      </div>
      <div class="booking">
    <div class="book">
    <a href="#Réservez!" data-controller="scroll-to" class = "booklink" > Réservez! </a>
    </div>
  </div>
    </div>
  </div>
</div>

<div class="container">
  <% @reviews.each do |review|  %>
    <p>Utilisateur anonyme | <%= review.comment %> - note : <%= review.rating %>/5</p>
  <% end %>
</div>

<div class="container choice">
  <div class="back">
      <%= link_to 'Retour', castles_path, class: 'backlink' %>
  </div>

  <% if policy(@castle).update? %>
  <div class="back">
  <%= link_to 'Mettre à jour', edit_castle_path, class: 'backlink' %>
  </div>
  <% end %>

  <div class="back">
  <%= link_to 'Avis', new_castle_review_path(@castle), class: 'backlink' %>
  </div>
</div>

<div class="container-simple-form">
  <%= simple_form_for([@castle,@booking]) do |f| %>
      <%= f.input :start_date, label: 'Date de début du séjour :' %>
      <%= f.input :end_date, label: 'Date de fin du séjour :' %>
      <%= f.submit "Réservez", class: 'backlink' %>
  <% end %>
</div>
<h2 id="Réservez!"></h2>