<br>
<br>
<div class="container castle">
  <div class="card-trip">
    <%= cl_image_tag(@castle.photo.key) %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @castle.name %></h2>
        <p><%= @castle.description %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @castle.price %> €</h2>
    </div>
  </div>


  <div class="back">
    <%= link_to 'book', new_castle_booking_path(@castle), class:'backlink'  %>
  </div>
</div>

<div class="container">
  <% @reviews.each do |review|  %>
    <p>Utilisateur anonyme | <%= review.comment %> - note : <%= review.rating %>/5</p>
  <% end %>
</div>

<div class="container choice">
  <div class="back">
      <%= link_to 'Back', castles_path, class: 'backlink' %>
  </div>

  <div class="back">
  <%= link_to 'Update', edit_castle_path, class: 'backlink' %>
  </div>

  <div class="back">
  <%= link_to 'Review', new_castle_review_path(@castle), class: 'backlink' %>
  </div>
</div>
